# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Spring Boot
HELP.md

# IDE - Eclipse / STS
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# IDE - IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# IDE - NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Build
build/

# VS Code
.vscode/

# Environment variables / secrets
.env
.env.*
!.env.example